<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="../paper-spinner/paper-spinner-lite.html" />
<link rel="import" href="../paper-input/paper-input.html" />
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html" />

<dom-module id="convocatorias-plenaria-tabla-head">
  <template>
    <style include="bootstrap4-styles">
      :host {
        display: block;
      }

      input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        border-radius: 50%;
        width: 1rem;
        height: 1rem;

        border: 0.25rem solid #9e9e9e;
        transition: 0.2s all linear;
        outline: none;
        margin: 0 0.5rem;
        position: relative;
      }

      input[type='radio']:checked {
        border: 0.5rem solid #607d8b;
      }

      .form-control-plaintext {
        padding: 0 0.5rem;
      }

      table>tbody>tr>th,
      table>tbody>tr>td {
        vertical-align: middle;
      }
    </style>

    <iron-ajax id="ajaxModalidades" auto handle-as="json" url="[[urlModalidades]]" last-response="{{modalidades}}"
      loading="{{loading}}"></iron-ajax>
    <iron-ajax id="ajaxMontosAprobados" auto handle-as="json" url="[[urlMontosAprobados]]"
      last-response="{{montosAprobados}}"></iron-ajax>

    <div class="text-center">
      <paper-spinner-lite active$="[[loading]]" alt="Cargando Modalidades"></paper-spinner-lite>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-bordered table-striped" cellspacing="0">
        <thead class="thead-light text-center">
          <tr>
            <th></th>
            <th>Modalidad</th>
            <th>M. Asignado</th>
            <th>M. Aprobado</th>
            <th>M. Disponible</th>
            <th>Calif. Mínima</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[modalidades.rows]]">
            <tr id="trow_[[item.Id_Modalidad]]">
              <th class="text-center">
                <input type="radio" name="radio_modalidad" on-change="_showModalidad" id="r_[[item.Id_Modalidad]]"
                  value="[[item.Id_Modalidad]]" />
              </th>
              <td>[[item.Descripcion]]</td>
              <td class="text-right">
                $
                <label class="montos_asignados" id="m_[[item.Id_Modalidad]]">[[item.monto_asignado]]</label>
              </td>
              <td class="text-right">
                $
                <label class="montos_aprobados" id="ma_[[item.Id_Modalidad]]">0</label>
              </td>
              <td class="text-right">
                $
                <label class="montos_disponibles" id="md_[[item.Id_Modalidad]]">0</label>
              </td>
              <td class="row_calificacion" width="120px;">
                <div class="form-group">
                  <paper-input type="number" class="number_input" value="[[item.promedio_aprobado]]" min="0.0"
                    max="100.0" step="0.01" id="i_[[item.Id_Modalidad]]" on-focus="_showUpdateButton"
                    disabled$="[[isDetalle]]" no-label-float></paper-input>
                  <button type="button" class="btn btn-outline-primary btn-sm btn_number_input"
                    id="b_[[item.Id_Modalidad]]" hidden$="[[isDetalle]]" style="display: none;"
                    on-click="_updatePromedioAprobatorio">
                    <span> Actualizar</span>
                  </button>
                </div>
              </td>
            </tr>
          </template>
          <tr id="trow_0" class="table-info">
            <th class="text-center">
              <input type="radio" name="radio_modalidad" on-change="_showModalidad" value="0" checked />
            </th>
            <td>Total</td>
            <td class="text-right">$ [[totalMontoAsignado]]</td>
            <td class="text-right">$ [[totalMontoAprobado]]</td>
            <td class="text-right">$ [[totalMontoDisponible]]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>

  <script>
    /**
     * `convocatorias-plenaria-tabla-head`
     *
     */
    class ConvocatoriasPlenariaTablaHead extends Polymer.Element {
      static get is() {
        return 'convocatorias-plenaria-tabla-head';
      }
      static get properties() {
        return {
          isDetalle: {
            type: Boolean,
            value: false,
          },
          idConvocatoria: Number,
          urlModalidades: {
            type: String,
            computed: '_urlModalidadesComp(idConvocatoria)',
          },
          modalidades: {
            type: Object,
            observer: '_modalidadesObs',
          },
          idModalidad: {
            type: Number,
            readOnly: true,
            reflectToAttribute: true,
            notify: true,
          },
          urlMontosAprobados: {
            type: String,
            computed: '_urlMontosAprobadosComp(idConvocatoria, loading)',
          },
          montosAprobados: {
            type: Object,
            observer: '_montosAprobadosObs',
          },
          totalMontoAsignado: {
            type: Number,
            value: 0,
            computed: '_totalMontoAsignadoComp(modalidades)',
            readOnly: true,
          },
          montoAprobado: {
            type: Number,
            observer: '_montoAprobadoObs',
          },
          totalMontoAprobado: {
            type: Number,
            value: 0,
            readOnly: true,
          },
          montoDisponible: {
            type: Number,
            readOnly: true,
          },
          totalMontoDisponible: {
            type: Number,
            value: 0,
            readOnly: true,
          },
          promedioAprobatorio: {
            type: Number,
            readOnly: true,
            reflectToAttribute: true,
            notify: true,
          },
          promediosAprobatorios: {
            type: Array,
            readOnly: true,
            reflectToAttribute: true,
          },
          desarrollo: { type: Boolean, value: false },
          produccion: { type: Boolean, value: false },
        };
      }
      static get observers() {
        return ['_montoDisponibleObs(montoAprobado)'];
      }

      _modalidadesObs(modalidades) {
        if (modalidades && modalidades.records > 0) {
          modalidades.rows.forEach((modalidad) => {
            modalidad.monto_asignado = Number(modalidad.monto_asignado);
            modalidad.promedio_aprobado = Number(modalidad.promedio_aprobado);
          });
        }
      }

      _urlModalidadesComp(idConvocatoria) {
        if (idConvocatoria) {
          if (this.desarrollo) {
            return `https://www.colmena.ugto.mx/Convocatoria/Plenaria/GetModalidadByConvocatoria?id=${idConvocatoria}`;
          }
          if (this.produccion) {
            return `https://intraug.ugto.mx/Convocatoria/Plenaria/GetModalidadByConvocatoria?id=${idConvocatoria}`;
          }
          return `http://localhost:65463/Plenaria/GetModalidadByConvocatoria?id=${idConvocatoria}`;
        }
        return '';
      }
      _urlMontosAprobadosComp(idConvocatoria, loading) {
        if (idConvocatoria && loading === false) {
          if (this.desarrollo) {
            return `https://www.colmena.ugto.mx/Convocatoria/Plenaria/GetMontosModalidadByConvocatoria?id=${idConvocatoria}`;
          }
          if (this.produccion) {
            return `https://intraug.ugto.mx/Convocatoria/Plenaria/GetMontosModalidadByConvocatoria?id=${idConvocatoria}`;
          }
          return `http://localhost:65463/Plenaria/GetMontosModalidadByConvocatoria?id=${idConvocatoria}`;
        }
        return '';
      }
      _montosAprobadosObs(montos_aprobados) {
        if (montos_aprobados) {
          montos_aprobados.forEach((monto) => {
            let elem_monto_asignado = this.shadowRoot.querySelector(`#m_${monto.Id_Modalidad}`);
            let elem_monto_aprobado = this.shadowRoot.querySelector(`#ma_${monto.Id_Modalidad}`);
            let elem_monto_disponible = this.shadowRoot.querySelector(`#md_${monto.Id_Modalidad}`);
            elem_monto_aprobado.innerHTML = parseFloat(monto.monto_aprobado).toFixed(2);
            elem_monto_disponible.innerHTML = (
              parseFloat(elem_monto_asignado.innerHTML) - parseFloat(elem_monto_aprobado.innerHTML)
            ).toFixed(2);
          });
          this._totalMontoAprobado();
          this._totalMontoDisponible();
        }
      }

      _showModalidad(e) {
        let radio_selected = e.target;
        let id_modalidad = radio_selected.value;
        this._rowSelected(id_modalidad);
        // this._radioChecked(id_modalidad);
      }
      _rowSelected(id_modalidad) {
        var renglones = this.shadowRoot.querySelectorAll('tr');
        renglones.forEach((renglon) => {
          renglon.classList.remove('table-info');
          if (`trow_${id_modalidad}` === renglon.id) {
            renglon.classList.add('table-info');
            this._setIdModalidad(id_modalidad);
          }
        });
      }
      _radioChecked(id_modalidad) {
        let radio = this.shadowRoot.querySelector(`#r_${id_modalidad}`);
        radio.checked = true;
      }

      _montoAprobadoObs(montoAprobado) {
        if (this.idModalidad > 0 && montoAprobado >= 0) {
          let elem_monto = this.shadowRoot.querySelector(`#ma_${this.idModalidad}`);
          elem_monto.innerHTML = parseFloat(montoAprobado);
          this._totalMontoAprobado();
        }
      }
      _totalMontoAprobado(montoAprobado) {
        var elem_montos = this.shadowRoot.querySelectorAll('.montos_aprobados');
        let total_monto_aprobado = 0;
        elem_montos.forEach((elem_monto) => {
          total_monto_aprobado += parseFloat(elem_monto.innerHTML);
        });
        this._setTotalMontoAprobado(total_monto_aprobado.toFixed(2));
        this._setMontoDisponible();
      }

      _montoDisponibleObs(montoAprobado) {
        let elem_monto_asignado = this.shadowRoot.querySelector(`#m_${this.idModalidad}`);
        let elem_monto_aprobado = this.shadowRoot.querySelector(`#ma_${this.idModalidad}`);

        let monto_disponible = parseFloat(elem_monto_asignado.innerHTML) - parseFloat(elem_monto_aprobado.innerHTML);

        let elem_monto_disponible = this.shadowRoot.querySelector(`#md_${this.idModalidad}`);
        elem_monto_disponible.innerHTML = parseFloat(monto_disponible).toFixed(2);
        this._totalMontoDisponible();
      }
      _totalMontoDisponible() {
        var elem_montos = this.shadowRoot.querySelectorAll('.montos_disponibles');
        let total_monto_disponible = 0;
        elem_montos.forEach((elem_monto) => {
          total_monto_disponible += parseFloat(elem_monto.innerHTML);
        });
        this._setTotalMontoDisponible(total_monto_disponible.toFixed(2));
      }

      _showUpdateButton(e) {
        var buttons = this.shadowRoot.querySelectorAll('.btn_number_input');
        buttons.forEach((button) => {
          button.style.display = 'none';
        });

        let id_input = e.target.id;
        let id_modalidad = id_input.slice(2);

        let button = this.shadowRoot.querySelector(`#b_${id_modalidad}`);
        button.style.display = 'inline-block';
        this._radioChecked(id_modalidad);
        this._rowSelected(id_modalidad);
      }
      _updatePromedioAprobatorio(e) {
        //get input
        let id_modalidad = this.idModalidad;
        let promedio = this.shadowRoot.querySelector(`#i_${id_modalidad}`);
        if (promedio.validate()) {
          this._setPromedioAprobatorio(promedio.value);

          var promedios = this.shadowRoot.querySelectorAll('.number_input');
          let aProms = [];
          promedios.forEach((prom) => {
            let id = prom.id.slice(2);
            if (prom.validate()) {
              aProms.push({ id: id, value: prom.value });
            } else {
              aProms = [];
              return -1;
            }
          });
          this._setPromediosAprobatorios(aProms);
        }

        this._radioChecked(id_modalidad);
        this._rowSelected(id_modalidad);
      }

      _totalMontoAsignadoComp(modalidades) {
        var total = 0;
        for (let modalidad of modalidades.rows) {
          let suma = modalidad.monto_asignado;
          total += suma;
        }
        return total;
      }
    }

    window.customElements.define(ConvocatoriasPlenariaTablaHead.is, ConvocatoriasPlenariaTablaHead);
  </script>
</dom-module>